<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>
<body>
    <form action="validate" method="post">
        <input type="text" placeholder="Email" name="email" value="">
        <br>
        <input type="password" name="password" placeholder="Password" value="">
        <br>
        <input type="submit" value="Login">
    </form>
</body>
</html>